<!DOCTYPE html>
<html 
class="bg-gray-700"
th:fragment="parent(content, title,script)"
xmlns:th="http://www.thymeleaf.org"
lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title data-th-replace="${title}">Base Page</title>
  <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
  <!--Font aswame-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body >
  <!--common header-->
    <div data-th-replace="navbar :: navbar"></div>

    <!--Main content-->
    <div class="p-4">
    <div data-th-replace="${content}"><div/></div>
    <!--flow bite content-->
      
    <!--Common footer -->
    <footer class="p-4">Footer: learn code with Dipankar</footer>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <th:block data-th-replace="${script}"></th:block>
</body>
</html>